.carousel-item img {
    height: 800px; /* Define a altura fixa desejada */
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
    object-fit: cover; /* Mantém a proporção da imagem e cobre todo o espaço disponível */
  }

.font-mono{
    font-family: monospace, monospace;
    background: #e5e5e5;
  }

.font-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-cor{
  background: #e5e5e5;
}

body {
  background-color: #f8f9fa; /* Cor de fundo da página */
  color: #303132; /* Cor do texto */
  margin: 0;
}

footer {
  background-color: #303132; /* Cor de fundo do footer (preto mais claro) */
  color: white; /* Cor do texto dentro do footer */
  padding: 30px 0; /* Espaçamento interno no footer */
}

.cursor-pointer{
  cursor: pointer;
}